.TotalMoney {
  max-width: 382px;
  min-width: 219px;
  width: 87%;
  height: 96px;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.TotalMoney > p {
    color: #6a2a7c;
}